<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
    <th:block th:fragment="header">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/}">
                        <img th:src="@{/screen.png}" alt="allure logo"/>
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">

                    <nav>
                        <a th:href="@{/}">Home</a>
                        <a th:href="@{/about}">About</a>
                        <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/explore}">Explore</a>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">/Admin</a>
                        <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/user}">/User</a>
                        <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/cart}">Cart</a>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/user/list}">User List</a>
                        <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Log In</a>
                        <a sec:authorize="!isAuthenticated()" th:href="@{/new}">Register</a>
                        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Log out</a>
                    </nav>

                </div>
            </div>
        </nav>
    </th:block>
    </body>
</html>