<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
    <title>Order Confirmation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>

<th:block th:include="fragments/header :: header"/>

<body>

<div class="layout">

    <h1>Order Confirmation</h1>

    <p>Thank you for your order!</p>

    <p>
        Your order has been placed and will be processed as soon as possible.
        You will be receiving an email confirmation shortly.
    </p>

    <p>
        Order Total: <span th:text="${order.totalAmount}"></span>
    </p>

    <table>
        <thead>
        <tr>
            <th>Service</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${order.items}">
            <td th:text="${item.service.serviceName}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.service.cost}"></td>
        </tr>
        </tbody>
    </table>

    <p>
        <a href="/services">Continue Shopping</a>
    </p>

</div>

</body>
</html>
